body {
	 /* Location of the image */
  background-image: url('https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  background-color: rgba(156, 210, 210, .8);
}

svg {
  width: 100%;
}

.container {
  width: 200px;
  margin: 3em auto;
}

.st0 {
  fill: #FFFFFF;
}

.st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  opacity: .5;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#one {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .1s infinite;
  animation: line-glow 1s .1s infinite;
}

#two {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .2s infinite;
  animation: line-glow 1s .2s infinite;
}

#three {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .3s infinite;
  animation: line-glow 1s .3s infinite;
}

#four {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .4s infinite;
  animation: line-glow 1s .4s infinite;
}

#five {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .5s infinite;
  animation: line-glow 1s .5s infinite;
}

#six {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .6s infinite;
  animation: line-glow 1s .6s infinite;
}

#seven {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .7s infinite;
  animation: line-glow 1s .7s infinite;
}

#bulb-body-fill {
  -webkit-animation: bulb-on 1s ease infinite;
  animation: bulb-on 1s ease infinite;
}

@-webkit-keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}

@-webkit-keyframes bulb-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bulb-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
